environment: "Staging"
replicaCount: 2

service:
  name: "assessment-api"
  portHttp: 8080

ingress:
  enabled: true
  host: assessment-api.lms.example.com

auth:
  issuer: "https://auth.lms.example.com/realms/lms"
  clientId: "assessment-api"

database:
  host: "postgres.lms.svc.cluster.local"
  port: "5432"
  name: "assessment"

redis:
  host: "redis-master.lms.svc.cluster.local"
  port: "6379"

limits:
  memoryRequests: "256Mi"
  memoryLimits: "512Mi"
  cpuRequests: "100m"
  cpuLimits: "500m"
