apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Values.service.name }}-migrations
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "5"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
spec:
  backoffLimit: 3
  ttlSecondsAfterFinished: 3600
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: {{ .Values.service.name }}-migrations
          image: {{ tpl .Values.images.api . }}
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: {{ .Values.environment | quote }}
            - name: DB_CONNECTION
              valueFrom:
                secretKeyRef:
                  name: lms-db
                  key: assessmentConnectionString
