apiVersion: apps/v1
kind: Deployment
metadata:
  name: grading-api
spec:
  replicas: {{ .Values.gradingApi.replicaCount }}
  selector:
    matchLabels:
      app: grading-api
  template:
    metadata:
      labels:
        app: grading-api
    spec:
      containers:
      - name: grading-api
        image: {{ index .Values.werf.image "grading-api" }}
        ports:
        - containerPort: {{ .Values.gradingApi.service.portHttp }}
        resources:
          requests:
            cpu: {{ .Values.gradingApi.limits.cpuRequests }}
            memory: {{ .Values.gradingApi.limits.memoryRequests }}
          limits:
            cpu: {{ .Values.gradingApi.limits.cpuLimits }}
            memory: {{ .Values.gradingApi.limits.memoryLimits }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: {{ .Values.gradingApi.service.portHttp }}
            scheme: HTTP
          failureThreshold: 3
          initialDelaySeconds: 15
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /healthz
            port: {{ .Values.gradingApi.service.portHttp }}
            scheme: HTTP
          failureThreshold: 3
          initialDelaySeconds: 10
          periodSeconds: 5
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: {{ .Values.gradingApi.environment | quote }}
        
        - name: Keycloak__Authority
          value: {{ .Values.gradingApi.auth.issuer | quote }}
        - name: Keycloak__RequireHttpsMetadata
          value: "false"
        
        - name: RabbitMQ__Host
          value: {{ .Values.gradingApi.rabbitmq.host | quote }}
        - name: RabbitMQ__Username
          valueFrom:
            secretKeyRef:
              name: rabbitmq-default-user
              key: username
        - name: RabbitMQ__Password
          valueFrom:
            secretKeyRef:
              name: rabbitmq-default-user
              key: password
        
        - name: Gemini__ApiKey
          valueFrom:
            secretKeyRef:
              name: gemini-secrets
              key: Gemini__ApiKey
        - name: Gemini__BaseUrl
          value: {{ .Values.gradingApi.gemini.baseUrl | quote }}
        - name: Gemini__Model
          value: {{ .Values.gradingApi.gemini.model | quote }}
        - name: Gemini__Temperature
          value: {{ .Values.gradingApi.gemini.temperature | quote }}
        - name: Gemini__MaxOutputTokens
          value: {{ .Values.gradingApi.gemini.maxOutputTokens | quote }}
