# Assessment API
assessmentApi:
  environment: "Staging"
  replicaCount: 2
  service:
    name: "assessment-api"
    portHttp: 8080
  ingress:
    enabled: true
    host: assessment.lmscloud.ru
  auth:
    issuer: "http://keycloak.lmscloud.ru/realms/lms"
    clientId: "assessment-api"
  database:
    host: "postgres-postgresql.lms.svc.cluster.local"
    port: "5432"
    name: "assessment"
  redis:
    host: "redis-master.lms.svc.cluster.local"
    port: "6379"
  limits:
    memoryRequests: "256Mi"
    memoryLimits: "512Mi"
    cpuRequests: "100m"
    cpuLimits: "500m"
  gemini:
    model: "gemini-2.5-flash"
    temperature: "0.3"
    maxOutputTokens: "2048"

# Media API
mediaApi:
  environment: "Staging"
  replicaCount: 1
  service:
    name: "media-api"
    portHttp: 8080
  ingress:
    enabled: true
    host: media.lmscloud.ru
  auth:
    issuer: "http://keycloak.lmscloud.ru/realms/lms"
    clientId: "media-api"
  database:
    host: "postgres-postgresql.lms.svc.cluster.local"
    port: "5432"
    name: "media"
  s3:
    serviceUrl: "s3.lmscloud.ru"
    port: "80"
    defaultBucketName: "assessment"
    withSsl: false
  redis:
    host: "redis-master.lms.svc.cluster.local"
    port: "6379"
  limits:
    memoryRequests: "256Mi"
    memoryLimits: "512Mi"
    cpuRequests: "100m"
    cpuLimits: "500m"

# Identity API
identityApi:
  environment: "Staging"
  replicaCount: 2
  service:
    name: "identity-api"
    portHttp: 8080
  ingress:
    enabled: true
    host: identity.lmscloud.ru
  auth:
    issuer: "http://keycloak.lmscloud.ru/realms/lms"
    clientId: "identity-api"
  database:
    host: "postgres-postgresql.lms.svc.cluster.local"
    port: "5432"
    name: "identity"
  redis:
    host: "redis-master.lms.svc.cluster.local"
    port: "6379"
  limits:
    memoryRequests: "256Mi"
    memoryLimits: "512Mi"
    cpuRequests: "100m"
    cpuLimits: "500m"

# Frontend
frontend:
  environment: "Staging"
  replicaCount: 2
  service:
    name: "frontend"
    portHttp: 3000
  ingress:
    enabled: true
    host: lmscloud.ru
  api:
    assessmentUrl: "http://assessment.lmscloud.ru"
    mediaUrl: "http://media.lmscloud.ru"
    identityUrl: "http://identity.lmscloud.ru"
  keycloak:
    url: "http://keycloak.lmscloud.ru"
    realm: "lms"
    clientId: "swagger"
    redirectPath: "/swagger/oauth2-redirect.html"
    scope: "openid profile email"
    refreshIntervalMs: "60000"
    refreshLeewayMs: "120000"
  limits:
    memoryRequests: "128Mi"
    memoryLimits: "256Mi"
    cpuRequests: "50m"
    cpuLimits: "200m"
