global:
  werf:
    image: {}

assessment-api:
  images:
    api: "{{ index .Values.global.werf.image \"assessment-api\" }}"
    migrations: "{{ index .Values.global.werf.image \"assessment-migrations\" }}"

media-api:
  images:
    api: "{{ index .Values.global.werf.image \"media-api\" }}"
    migrations: "{{ index .Values.global.werf.image \"media-migrations\" }}"

identity-api:
  images:
    api: "{{ index .Values.global.werf.image \"identity-api\" }}"
    migrations: "{{ index .Values.global.werf.image \"identity-migrations\" }}"